$color-primary:	#22FFE4  ;
$color-primary-light:#227DFF;
$color-primary-dark:rgb(32, 7, 255);

$section-color:rgb(180, 255, 180);
$section-color-deep:green;

$color-black:#000;
$color-white:#fff;

$color-grey-dark:#777;

$color-light-grey:#eceaea;


// GRID

$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal:10rem;


$default-font-size:1.6rem;


$color-secondary-light:rgb(255, 183, 255);
$color-secondary-dark:rgb(78, 0, 102);

$color-tertiary-light:rgb(255, 154, 2);
$color-tertiary-dark:rgb(255, 219, 14);